.progressCard {
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.2);
  flex: 0 0 calc((100% - 40px) * 0.5);
  max-width: 0 0 calc((100% - 40px) * 0.5);
}

@media (max-width: 1199px) {
  .progressCard {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.progressHeading{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: black;
    padding-left: 20px;
}