.addWorkoutCard {
  background-color: rgba(248, 245, 245, 0.3);
  border-radius: 10px;
  flex: 0 0 calc((100% - 40px) * 0.25);
  max-width: 0 0 calc((100% - 40px) * 0.25);
}

@media (max-width: 1199px) {
  .addWorkoutCard {
    flex: 0 0 calc((100% - 20px) * 0.5);
    max-width: 0 0 calc((100% - 20px) * 0.5);
  }
}

@media (max-width: 767px) {
  .addWorkoutCard {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.workoutHeading{
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: black;
    padding-left: 20px;
    padding-bottom: 10px;
}

.workoutHeading2{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding-left: 20px;
}

.selectWorkout{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 16px;
    color: black;
}